.app-download {
    margin: 100px auto;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
    color: aliceblue;
}

.movingbike {
    position: relative; /* Position relative for the moving effect */
    overflow: hidden; /* Hide overflow */
}

.app-image {
    width: max(30vw, 120px); /* Adjusted size */
    max-width: 180px; /* Maximum width */
    animation: move 3s linear infinite; /* Apply animation */
}

.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;
}

.app-download-platforms img {
    width: max(30vw, 120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
    padding: 10px; /* Add padding for background */
    border-radius: 10px; /* Rounded corners */
    background-color: rgba(248, 90, 90, 0.9); /* Bright white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.app-download-platforms img:hover {
    transform: scale(1.05);
}

/* Animation for horizontal movement */
@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); /* Move 20px to the right */
    }
    100% {
        transform: translateX(0);
    }
}
